<div style="border-style:solid; float:left;">
	 <div style="border-style:solid; width:420px; float:left;">
	    <h3>Chat</h3>
	 	<div id="chat" style="border-style:solid; height: 500px;overflow-y: auto; width:400px;"></div>
	 	<input ng-model="message" id="message" type="text" size="60" ng-enter="enterPressed('#message')" ng-keypress="detectTyping()" />
     	<button type="submit" ng-click="publish(true)" class="btn btn-primary">Send</button>
     </div>
     <div style="width:600px; float:left; border-style:solid;">
        <h3>Lobby</h3>
        <button ng-click="startGameSetup()" class="btn btn-primary">Start New Game</button>
        <button class="btn btn-primary" ng-click="showPlayers()">View Users Online</button>
        <button ng-click="user_change()"class="btn btn-primary">Change Username</button>
     </div>
     <div style="width:600px; height: 500px; overflow-y:auto; ">
	     <div style="width:600px; float:left; border-style:solid;">
	     	<div ng-repeat="game in games track by $index" style="width:550px;height:100px;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;background:rgba(141,221,227,0.5);-webkit-box-shadow: #171717 5px 5px 5px;-moz-box-shadow: #171717 5px 5px 5px; box-shadow: #171717 5px 5px 5px;margin-bottom: 15px;margin-left: 20px;margin-top: 20px;">
	     		<div style="margin-top: 25px">
	     			<a href="#partial1"style="margin-left: 25px;" ng-click="joinGame(game)">
	     				{{ game }}
	     			</a>

	     		</div>
	     	</div>

	     </div>
 	</div>
 </div>

