<div style="border-style:solid; float:left;">
         <div style="border-style:solid; width:420px; float:left;">
            <h3>Chat</h3>
            <div id="chat" style="border-style:solid; width:400px;"></div>
            <input id="message" type="text" size="60" />
            <button type="submit" onclick="publish()" class="btn btn-primary">Send</button>
         </div>
         <div style="width:600px; float:left; border-style:solid;">
            <h3>*insert game screen title here*</h3>
            <div id="problem" style="border-style:solid; width:580px;"></div>
         </div>
      </div>
