<div class="modal fade" id="userDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="left:0">
    <div class="modal-content " style="margin-bottom:50px;width:400px;min-height:100px;margin-left: 100px;border:0;">

      <div class="modal-header" style="border:0;">
        <button type="button" style="/* color:white;opacity:.7; */" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <center>
            Welcome to the Math Contest Game!
          </center>
        </h4>
      </div>
      <div>
      <input style="margin-left: 120px;"id="username" ng-model="username" type="text" /></div>
      <div>
      <button style="margin-left: 140px;margin-top: 16px;margin-bottom: 16px;" ng-click="saveUser()">Save Username</button>
    </div>
      <div class="modal-footer" style="max-height:100px;border:0;padding:0;">
      </div>
    </div>
  </div>
</div>